---
layout: default
---
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@DiegoViverRod" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="Lee el artículo en mi blog." />
<meta name="twitter:image" content="https://pilotman.github.io/MathBlog/public/icon.png" />
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
<!-- Mathjax Support -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
